# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
.env
.venv/

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Diğer
*.log
scratch/

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
*.exe
